---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";
import { BaseWPSchema } from "@/types";
import Experiences from "@/components/experience/Experiences.astro";
import Projects from "@/components/project/Projects.astro";
import BlogPosts from "@/components/blog/BlogPosts.astro";

const response = await fetch(`${import.meta.env.API_URL}/pages?slug=about`);
const json = await response.json();
const data = BaseWPSchema.parse(json[0]);
---

<Layout title="Inicio">
    <!-- About Section -->
    <section
        id="about"
        class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
        aria-label="About me"
    >
        <div
            class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
        >
            <h2
                class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only"
            >
                Sobre mí
            </h2>
        </div>
        <div class="space-y-4" set:html={data.content.rendered} />
    </section>

    <!-- Experience section -->
    <Experiences />

    <hr class="my-16 border-t border-slate-800/50" />

    <!-- Projects section -->
    <Projects />

    <hr class="my-16 border-t border-slate-800/50" />

    <!-- Blog section -->
    <section
        id="blog"
        class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
        aria-label="Recent blog posts"
    >
        <div
            class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
        >
            <h2
                class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only"
            >
                Blog Reciente
            </h2>
        </div>
        <BlogPosts limit={3} />
    </section>
</Layout>
