---
interface Props {
    categories: { name: string; slug: string }[];
}

const { categories } = Astro.props;
---

<ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
    {
        categories.map((cat) => (
            <li class="mr-1.5 mt-2">
                <a
                    href={cat.slug}
                    target="_blank"
                    rel="noreferrer noopener"
                    aria-label={`${cat.name} (opens in a new tab)`}
                >
                    <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">
                        {cat.name}
                    </div>
                </a>
            </li>
        ))
    }
</ul>
