---
import Logo from "./Logo.astro";
import MainNav from "./MainNav.astro";
import SocialNav from "./SocialNav.astro";
---

<header
    class="font-extralight lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
>
    <div>
        <Logo />

        <div class="mt-4">
            <a
                class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
                href="/Jemodev_web_CV.pdf"
                target="_blank"
                rel="noopener noreferrer"
            >
                <span>
                    Descargar CV
                    <span class="inline-block">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                            aria-hidden="true"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </span>
            </a>
        </div>

        <MainNav />

        <SocialNav />
    </div>
</header>

<style>
    .nav-link.active .nav-indicator {
        width: 3rem;
        background-color: #5eead4; /* Teal 300 */
    }
    .nav-link.active .nav-text {
        color: #e2e8f0; /* Slate 200 */
    }
</style>
