---
import Logo from "./Logo.astro";
import MainNav from "./MainNav.astro";
import SocialNav from "./SocialNav.astro";
---

<header
    class="font-extralight lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
>
    <div>
        <Logo />

        <MainNav />

        <SocialNav />
    </div>
</header>

<style>
    .nav-link.active .nav-indicator {
        width: 3rem;
        background-color: #5eead4; /* Teal 300 */
    }
    .nav-link.active .nav-text {
        color: #e2e8f0; /* Slate 200 */
    }
</style>
