<>
    <h1 class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl">
        <a href="/">Jerson Moreno</a>
    </h1>
    <h2
        class="mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl"
    >
        Full Stack Developer & Emprendedor
    </h2>
    <p class="mt-4 max-w-xs leading-normal">
        Construyo soluciones digitales escalables y experiencias web de alto
        impacto.
    </p>
</>
